@model QLCafe.Models.Bill

@{
    ViewData["Title"] = "Delete Bill";
}

<h1>Delete Bill</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bill ID: @Model.BillId</h4>
    <p>Order ID: @Model.OrderId</p>
    <p>Created At: @Model.CreatedAt</p>
    <p>Total Amount: @Model.TotalAmout</p>
    <p>Payment Method: @Model.PaymentMethod</p>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="BillId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
